body{
    text-align:center;
    background: linear-gradient(to right, #33ccff , #ffb366);
  
}
#menuBar{
    color: black;
    font-size:25px;
    /*display: block;*/
    /*position: fixed;*/
    /*padding-bottom: 50%*/
}
p{
    font-family: "Times-New Roman";
    color: black;
    font-size: 25px;
    margin-right: 100px;
    margin-left: 100px;
  
}
